article img {
    margin-bottom: 10px;
}

.conhecimento__cor {
    background-color: #09090b;
}

.conhecimento {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 165px;
}

.conhecimento__texto {
    width: 60%;
}

.conhecimento__titulo {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    padding-bottom: 40px;
}

.conhecimento__ponto {
    color: #00a3ff;
}

.conhecimento__informacoes {
    font-size: 1.3rem;
    font-weight: normal;
    color: #c8c8c8;
}

.conhecimento__imagens {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.conhecimento__html:hover {
    border: #00a3ff solid 1px;
}

.conhecimento__css:hover {
    border: #00a3ff solid 1px;
}

.conhecimento__js:hover {
    border: #00a3ff solid 1px;
}

@media screen and (max-width:500px) {
    .conhecimento {
        flex-direction: column;
        align-items: center;
    }

    .conhecimento__titulo {
        text-align: center;
    }

    .conhecimento__informacoes {
        text-align: center;
        font-size: 1.2rem;
    }

    .conhecimento__texto {
        padding-bottom: 40px;
    }

    .conhecimento__imagens {
        width: 100%;
    }
}